<%- include('partials/header') %>
    <div class="content">
        <h1>About Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem beatae optio repellat, quasi alias
            possimus,
            officiis ipsam nemo sed sapiente eveniet blanditiis repudiandae, voluptates consequatur placeat in.
            Voluptates,
            assumenda adipisci.
            Sapiente nulla suscipit perferendis et exercitationem. Iure corporis eius obcaecati veritatis excepturi id
            similique
            eum atque blanditiis? Dicta fuga quaerat aliquam deserunt ex. Quis possimus ratione iure accusantium dicta
            suscipit?
        </p>
    </div>
    <%-include("partials/footer.ejs")-%>