<%- include('partials/header.ejs') %>
    <div>
        <h1>Delete Post</h1>
        <form action="/delete" method="post" class="form">
            <label for="title">Title:</label>
            <input type="text" id="title" name="titlee">
            <button type="submit" class="btn">Delete</button>
        </form>
    </div>
    <%-include("partials/footer.ejs")-%>