<%- include('partials/header') %>
    <div class="content">
        <h2>
            <%=Title%>
        </h2>
        <p>
            <%=Blogcontent%>
        </p>
    </div>
    <%-include("partials/footer.ejs")-%>